*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#adopt, #find{
  border-radius: 50%;
  height: 20%;
  margin-top: 5%;
  width: 20%;
}
#adoptPage, #findPage{
  height: 100%;
  margin-bottom: 100%;
  width: 100%;
}
.alerts{
  color: red;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5%;
}
article, #pageInit{
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
 }
body{
  background-color: #45969b;
  text-align: center;
}
#boxPublication{
  background-color: white;
  border: 5% #f96d15;
  color: #307e7e;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  height: 50%;
  margin-bottom: 2%;
  width: 50%;
}
footer{
  background-color: white;
  bottom: 0%;
  position: fixed;
  visibility: none;
  width: 100%;
}
#formLogin{
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-weight: bold;
  height: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%;
}
#goHome, #search, #goUser{
  width: 15%;
  height: 15%;
  border-radius: 50%;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.17em;
  font-weight: bold;
  padding-top: 3rem;
  text-align: justify;
}
 header{
   background-color: white;
   height: 20%;
   position: static;
 }
 #home>article>h1{
  text-align: center;
}
 input{
  align-items: center;
  border-color: #f96d15;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  height: 10%;
  padding: 5% 10%;
  margin-bottom: 4%;
  margin-top: 4%;
  width: 70%;
}
 #introductionFormat{
  align-content: center;
  color:  #45969b; 
  height: 100%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 80%;
}
#imageHome{
  height: 60%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90%;
}
#imageStart{
  justify-content: center;
  margin-bottom: 10%;
}
#imageWelcome{
  height: 80%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.iconoBig{
  color: #f96d15 ;
  font-size: 30px;
}
#like, #edit, #remove, #crearPost, #logOut{
  background: transparent;
  border: 0ch;
}
 #logoPageInit{
   margin-top: 10%;
 }
#logOut{
  color: #f96d15;
  display: none;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold; 
}
.login{
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  font-weight: bold;
  height: 10%;
  margin-bottom: 5%;
  padding: 5% 5%;
  width: 60%;
}
#login{
  background-color: #f96d15;
  border-color: white;
}
main{
  align-items: center;
  background-color: #45969b;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}
#register{
  background-color: #50b6bb;
  border-color: white;
}
.pages{
  display: none; 
 }
 #passwordReset{
  font-family: 'Ubuntu', sans-serif;
  text-decoration: underline;
}
.publication{
  border: 2rem solid #45969b;
  color: #45969b;
  font-family: 'Ubuntu', sans-serif;
}
section{
  height: 70%;
  margin-bottom: 15%;
  visibility: none;
}
#select{
  color: #307e7e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  height: 20%;
  margin: 2% 10%;
  padding: 2% 0%;
  text-align: justify;
  width: 80%;
}
#start{
  height: 30%;
  text-align: center;
  width: 30%;
}
.styleInfo{
  color: #307e7e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60%;
  margin-top: 10%;
  text-align: center;
}
.styleInfoSelect>img{
  border-radius: 50%;
  text-align: left;
}
.styleInfoSelect>h1{
  background-color: white;
  color:#307e7e;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
@media screen and (min-width:1024px){
  #adopt, #find{
    align-items: center;
    border-radius: 50%;
    height: 9%;
    margin-left: 5%;
    margin-top: 0%;
    width: 9%;
  }
  article, #pageInit{
    align-items: left;
    background-color: white;
    height: 80%;
   }
   footer{
    background-color: white;
    bottom: 0%;
    position: fixed;
    visibility: none;
    width: 100%;
  }
   #formLogin{
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    font-weight: bold;
    height: 10%;
    margin-bottom: 0%;
    margin-top: 1%;
    width: 100%;
  }
  #goHome, #search, #goUser{
    align-items: center;
    width: 6%;
    height: 6%;
    border-radius: 50%;
    margin-left: 5%;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    padding-top: 0rem;
    text-align: justify;
  }
  header{
    background-color: white;
    height: 10%;
    position: static;
  }
  input{
    align-items: center;
    border-color: #f96d15;
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    height: 1%;
    padding: 2% 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 50%;
  }
  #imageHome{
    height: 30%;
    margin-top: 1%;
    margin-bottom: -1%;
    width: 30%;
  }
  #imageWelcome{
    height: 40%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;
    width: 40%;
  }
  .login{
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    font-weight: bold;
    height: 1%;
    margin-bottom: 1%;
    padding: 2% 5%;
    width: 50%;
  }
  #logoPageInit{
    margin-top: 0%;
  }
  #passwordReset{
    margin-top: -5%;
  }
  textarea{
    height: 50%;
    width: 60%;
  }
  #start{
    height: 10%;
    align-items: center;
    width: 10%;
  }
}