*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#adopt{
  margin-top: 5%;
  border-radius: 50%;
  height: 20%;
  width: 20%;
}
#adoptPage{
  margin-bottom: 100%;
  width: 100%;
  height: 100%;
}

.alerts{
  font-family: 'Ubuntu', sans-serif;
  color: red;
  margin-bottom: 5%;
}
article{
  background-color: white;
  height: 100%;
  width: 100%;
  align-items: center;
 }
body{
  background-color: #45969b;
  text-align: center;
}
#boxPublication{
  background-color: white;
  border: 5% #f96d15;
  color: #307e7e;
  height: 50%;
  width: 50%;
  display: inline-block;
}
#find{
  margin-top: 5%;
  border-radius: 50%;
  margin-right: 5%;
  height: 20%;
  width: 20%;
}
footer{
  visibility: none;
  position: absolute;
}
footer{
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0%;
}
#formLogin{
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  width: 100%;
  height: 10%;
  font-size: 100%;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.17em;
  font-weight: bold;
  padding-top: 3rem;
  text-align: justify;
}
 header{
   background-color: white;
   position: static;
   height: 20%;
 }
 input{
  border-color: #f96d15;
  padding: 5% 10%;
  margin-bottom: 4%;
  margin-top: 4%;
  height: 10%;
  width: 70%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  align-items: center;
}
 #introductionFormat{
  margin-top: 5%;
  margin-bottom: 10%;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;
  color:  #45969b; 
}
#imageHome{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90%;
  height: 60%;
}
#imageStart{
  justify-content: center;
  margin-bottom: 10%;
}
#imageWelcome{
  width: 80%;
  height: 80%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.icono{
  color: #f96d15;
}
.iconoBig{
  color: #f96d15 ;
  font-size: 30px;
}
#findPage{
  margin-bottom: 100%;
  width: 100%;
  height: 100%;

}


#goHome{
  width: 15%;
  height: 15%;
  border-radius: 50%;
}
#like, #edit, #remove, #crearPost, #logOut{
  background: transparent;
  border: 0ch;
}
 #logoPageInit{
   margin-top: 10%;
 }
#logOut{
  display: none;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold; 
  color: #f96d15;
}
.login{
  padding: 5% 5%;
  margin-bottom: 5%;
  width: 60%;
  height: 10%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  font-weight: bold;
}
#login{
  background-color: #f96d15;
  border-color: white;
}
main{
  width: 100%;
  height: 100%;
  background-color: #45969b;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#register{
  background-color: #50b6bb;
  border-color: white;
}
.pages{
  display: none; 
 }
 .publication{
  background-color: white;
  border: 2rem solid #45969b;
}
 #pageInit{
  background-color: white;
  height: 100%;
  width: 100%;
 }
 #passwordReset{
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
}
 #start{
  height: 30%;
  width: 30%;
  text-align: center;
}

section{
  visibility: none;
  height: 70%;
  margin-bottom: 15%;
}
#select{
  font-family: 'Ubuntu', sans-serif;
  color: #307e7e;
  font-weight: bold;
  text-align: justify;
  height: 20%;
  width: 80%;
  margin: 2% 10%;
  padding: 2% 0%;
}
#home>article>h1{
  text-align: center;
}


#search{
  width: 15%;
  height: 15%;
  border-radius: 50%;
}
#goUser{
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

.styleInfo{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #307e7e;
  margin-top: 10%;
  font-size: 60%;
}
.styleInfoSelect>img{
  text-align: left;
  border-radius: 50%;
}
.styleInfoSelect>h1{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  color:#307e7e;
}





